<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dbw.luckwheel.mapper.LuckProductMapper">
  <resultMap id="BaseResultMap" type="cn.dbw.luckwheel.po.LuckProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
</mapper>